@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 120 60 160;
    --color-secondary: 70 60 160;
    --color-bg: 220 220 220;
    --color-bg-darker: 200 200 200;
    --color-text: 10 10 10;

    @media (prefers-color-scheme: dark) {
      --color-primary: 92 32 130;
      --color-secondary: 42 32 130;
      --color-bg: 50 50 50;
      --color-bg-darker: 30 30 30;
      --color-text: 240 240 240;
    }
  }
}
